@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Frank Force 5.0!</h1>
    <p>
        Get Started by looking at a<a class="nav-link" asp-area="" asp-controller="Organization" asp-action="List">List of Organizations</a>
    </p>
</div>
